<div class="footer">
    <div id="footer">
      <div class="container">
        <p class="text-muted credit text-center">
        	<br/>made by <a href="https:/jonaspreisler.com" target="_blank"> Jonas</a> |
        	<%= link_to 'Add ICO', new_ico_path, class: "nav-button" %>
        	<br />
        	2018 &copy Tekuila
        </p>
      </div>
    </div>
</div>